{% extends "base.html" %}
{% block content %}
  <div class="row">
      <div class="large-3 columns">
          <img src="{{ url_for('static' , filename='images/pink_heels.jpg')}}" alt="pink high heels"/>
      </div>
      <div class="large-9 columns">
          <p>Welcome to Binish's Shoe Boutique. We carry numerous high quality brands to fit your every need. Feel free to browse and spend tons of money.
             We hope you find what you are looking for. Happy shopping!
          </p>
      </div>
  </div>
{% endblock %}