{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="panel large-4 columns"><a href="/product/1">Product #1</a></div>
    <div class="panel large-4 columns"><a href="/product/2">Product #2</a></div>
    <div class="panel large-4 columns"><a href="/product/3">Product #3</a></div>
  </div>
  <div class="row">
    <div class="panel large-4 columns"><a href="/product/4">Product #4</a></div>
    <div class="panel large-4 columns"><a href="/product/5">Product #5</a></div>
    <div class="panel large-4 columns"><a gref="/product/6">Product #6</a></div>
  </div>
  <div class="row">
    <div class="panel large-4 columns"><a href="/produc/7">Product #7</a></div>
    <div class="panel large-4 columns"><a href="/product/8">Product #8</a></div>
    <div class="panel large-4 columns"><a href="/product9">Product #9</a></div>
  </div>
{% endblock %}